/* 『催眠くらくら』CSSファイル。*/
* {
	/* いったん、すべての要素をスクロール不能にする。スクロールしたいものは個別に指定する。 */
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	background-color: black;
}
input[type='checkbox'] {
	cursor: pointer;
	font-size: 0.5cm;
	padding: 0;
}
label {
	cursor: pointer;
}
select {
	background-color: #300;
	color: #fcf;
}
button {
	font-weight: bold;
	background-color: #f9f;
	color: #003;
}
.sai_class_page {
	margin: 0;
	padding: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
	background-color: #b06;
	color: #fff;
}
#sai_id_main_page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
}
.sai_class_page h1 {
	font-size: 1.25rem; /* ① */
	line-height: 1.25rem; /* ① */
	background-color: #c0c;
	color: white;
	margin: 0;
}
.sai_class_page select {
	padding: 0.5rem;
}
.sai_class_config_page {
	user-select: none;
	font-size: 1.2rem;
}
.sai_class_config_page select {
	font-size: 1.5rem;
	max-width: 80vw;
	max-width: 80dvw;
}
.sai_class_nav_button {
	padding: 0.4rem 2rem;
	font-size: 1.5rem;
}
.sai_class_canvas {
	z-index: 1;
	background-color: #222;
	top: 0;
	left: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
}
.sai_class_ui_line {
	padding-top: 1mm;
	padding-bottom: 1mm;
}
.sai_class_nobr {
	white-space:nowrap;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
.sai_class_floating_text {
	pointer-events: none; // click-transparent
	color: white;
	background-color: black;
	max-width: 80%;
	word-break: break-all;
	padding: 4px;
	border: 1px solid white;
}
#sai_id_text_floating_1 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
#sai_id_text_floating_2 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}
.sai_class_font_size_small {
	font-size: 0.4cm;
}
.sai_class_font_size_normal {
	font-size: 0.6cm;
}
.sai_class_font_size_large {
	font-size: 1.0cm;
}
.sai_class_font_size_huge {
	font-size: 2.0cm;
}
#sai_id_button_target {
	position: absolute;
	left: calc(100% / 4 * 0 + 5px/2);
	bottom: 0;
	width: calc(100% / 4 - 5px);
}
#sai_id_button_microphone {
	position: absolute;
	left: calc(100% / 4 * 1 + 5px/2);
	bottom: 0;
	width: calc(100% / 4 - 5px);
}
#sai_id_button_sound_play {
	position: absolute;
	left: calc(100% / 4 * 2 + 5px/2);
	bottom: 0;
	width: calc(100% / 4 - 5px);
}
#sai_id_button_speech {
	position: absolute;
	left: calc(100% / 4 * 3 + 5px/2);
	bottom: 0;
	width: calc(100% / 4 - 5px);
}
.sai_class_config_button {
	position: relative;
	height: 3rem;
	font-weight: bold;
	padding: 0.2rem 1.1rem 0.2rem 1.1rem;
	vertical-align: middle;
}
.sai_class_releasing {
	background-color: red !important;
	text-align: center;
}
input[type='color'] {
	width: 2cm;
	height: 1cm;
}
.sai_class_button_color_reset {
	height: 1cm;
	padding: 0.5rem;
	vertical-align: top;
}
.sai_class_rounded_button {
	width: 1.3cm;
	height: 1.3cm;
	background-color: rgba(255, 181, 230, 0%);
	border: 0;
	border-radius: 100%;
	padding: 0;
	margin: 0;
}
.sai_class_rounded_button img {
	width: 1.3cm;
	height: 1.3cm;
}
#sai_id_button_config {
	position: absolute;
	left: 3px;
	top: 3px;
}
#sai_id_button_config_back {
	position: absolute;
	left: 3px;
	top: 3px;
}
#sai_id_button_message_back {
	position: absolute;
	left: 3px;
	top: 3px;
}
#sai_id_button_agreement_back {
	position: absolute;
	left: 3px;
	top: 3px;
}
#sai_id_button_about {
	position: absolute;
	right: 3px;
	top: 3px;
}
#sai_id_button_previous_image {
	position: absolute;
	left: 0.5rem;
}
#sai_id_button_next_image {
	position: absolute;
	right: 0.5rem;
}
.sai_class_button_arrow {
	vertical-align: middle;
	outline: 1px solid white;
	border-radius: 4px;
	text-align: center;
	background-color: rgba(50%, 50%, 50%, 80%);
	top: calc(50vh - 2.5rem / 2);
	top: calc(50dvh - 2.5rem / 2);
}
.sai_class_button_arrow img {
	width: 100%;
	height: 100%;
}
#sai_id_button_start_hypnosis {
	position: absolute;
	width: 50vw;
	width: 50dvw;
	height: 15vh;
	height: 15dvh;
	left: calc(50vw - 50vw / 2);
	left: calc(50dvw - 50dvw / 2);
	top: calc(50vh - 15vh / 2);
	top: calc(50dvh - 15dvh / 2);
	font-size: 6vmin;
}
#sai_id_button_release_hypnosis {
	position: absolute;
	width: 50vw;
	width: 50dvw;
	height: 15vh;
	height: 15dvh;
	left: calc(50vw - 50vw / 2);
	left: calc(50dvw - 50dvw / 2);
	top: calc(70vh - 15vh / 2);
	top: calc(70dvh - 15dvh / 2);
	font-size: 6vmin;
}
@media screen and (max-height: 360px) {
	#sai_id_button_start_hypnosis {
		width: 20vw;
		width: 20dvw;
		height: 20vh;
		height: 20dvh;
		left: calc(30vw - 20vw / 2);
		left: calc(30dvw - 20dvw / 2);
		top: calc(60vh - 20vh / 2);
		top: calc(60dvh - 20dvh / 2);
	}
	#sai_id_button_release_hypnosis {
		width: 20vw;
		width: 20dvw;
		height: 20vh;
		height: 20dvh;
		left: calc(70vw - 20vw / 2);
		left: calc(70dvw - 20dvw / 2);
		top: calc(60vh - 20vh / 2);
		top: calc(60dvh - 20dvh / 2);
	}
}
.sai_class_invisible {
	display: none;
}
.sai_class_center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.sai_class_navi_button {
	outline: 1px solid white;
	border-radius: 4px;
	background-color: rgba(255, 181, 230, 75%);
	color: black;
	padding: 4px;
	height: 1.2cm;
	line-height: 1.2cm;
	z-index: 2;
	font-size: 0.5cm;
	font-weight: bold;
	padding: 0;
	text-align: center;
}
.sai_class_navi_button {
	vertical-align: top;
	line-height: 0.5cm;
}
.sai_class_navi_button img {
	vertical-align: middle;
}
.sai_class_checked {
	background-color: rgba(204, 101, 198, 90%);
}
.sai_class_config_navi_line {
	height: 5rem; /* ③ */
}
.sai_class_img_config_logo {
	height: 31px; /* ④ */
	border: 0;
}
#sai_id_text_message {
	padding: 0;
	height: 0.9cm; /* ⑤ */
	font-size: 0.6cm;
	width: 95%;
}
#sai_id_message_list div {
	border: solid 1px black;
	padding: 0.2cm;
	min-height: 0.8cm;
}
#sai_id_message_list div:hover {
	background-color: #c0c;
}
#sai_id_page_message .sai_class_nav_button {
	font-size: 1rem;
	padding: 0 0.1cm;
	min-width: 1.3cm;
	height: 2.5rem;
}
.sai_class_scrollable_1 { /* バージョン情報のテキストエリアみたいなところ。 */
	overflow-x: visible;
	overflow-y: scroll;
	width: 98dw;
	width: 98dvw;
	height: calc(100vh - 1.25rem - 0.9rem - 5rem); /* 全体 - ① - ② - ③ */
	height: calc(100dvh - 1.25rem - 0.9rem - 5rem); /* 全体 - ① - ② - ③ */
	margin-left: auto;
	margin-right: auto;
}
.sai_class_scrollable_2 { /* 設定画面の設定項目のスクロール可能な部分。 */
	overflow-x: visible;
	overflow-y: scroll;
	width: 98vw;
	width: 98dvw;
	height: calc(100vh - 1.25rem - 31px - 5rem); /* 全体 - ① - ④ - ③ */
	height: calc(100dvh - 1.25rem - 31px - 5rem); /* 全体 - ① - ④ - ③ */
	margin-left: auto;
	margin-right: auto;
}
.sai_class_scrollable_3 { /* メッセージ選択ダイアログのスクロール可能な部分。 */
	overflow-x: visible;
	overflow-y: scroll;
	width: 98vw;
	width: 98dvw;
	height: calc(100vh - 1.25rem - (0.9cm + 2px) - 31px - 5rem); /* 全体 - ① - ⑤ - ④ - ③ */
	height: calc(100dvh - 1.25rem - (0.9cm + 2px) - 31px - 5rem); /* 全体 - ① - ⑤ - ④ - ③ */
	margin-left: auto;
	margin-right: auto;
}
#sai_id_config_scrollable {
}
#sai_id_text_version {
	font-size: 0.9rem; /* ② */
	line-height: 0.9rem; /* ② */
}
.sai_config_label {
	font-weight: bold;
	font-size: 1.25rem;
}
#sai_id_text_notice {
	font-size: 9pt;
	white-space: pre-line;
	text-align: left;
	background-color: #fcf;
	color: black;
}
/* https://www.tutorialstonight.com/css-toggle-switch-with-text */
/* 【トグルスイッチ】ここから */
.sai_class_toggle_button {
    --width: 80px;
    --height: 30px;
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
    vertical-align: middle;
}
.sai_class_toggle_button input {
    display: none;
}
.sai_class_toggle_button .sai_class_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #333;
    transition: all 0.4s ease-in-out;
}
.sai_class_toggle_button .sai_class_slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fcf;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}
.sai_class_toggle_button input:checked + .sai_class_slider {
    background-color: #f0f;
    color: black;
}
.sai_class_toggle_button input:checked + .sai_class_slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}
.sai_class_toggle_button .sai_class_toggle_label {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
}
.sai_class_toggle_button .sai_class_toggle_label::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}
.sai_class_toggle_button .sai_class_toggle_label::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #000;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(0, 255, 0, 0.4);
    transition: all 0.4s ease-in-out;
}
.sai_class_toggle_button input:checked~.sai_class_toggle_label::after {
    opacity: 0;
}
.sai_class_toggle_button input:checked~.sai_class_toggle_label::before {
    opacity: 1;
}
/* 【トグルスイッチ】ここまで */
/* 【顔認識のページ】ここから */
#sai_id_button_side {
	position: absolute;
	right: 3px;
	top: 3px;
}
#sai_id_button_face_getter_back {
	position: absolute;
	left: 3px;
	top: 3px;
}
#sai_id_canvas_1 {
	z-index: 1;
	background-color: #222;
	top: 0;
	left: 0;
	width: 100vw;
	width: 100dvw;
	height: 100vh;
	height: 100dvh;
}
#sai_id_button_lock_on {
	position: absolute;
	width: 50vw;
	width: 50dvw;
	height: 1cm;
	left: calc(50vw - 50vw / 2);
	left: calc(50dvw - 50dvw / 2);
	top: calc(80vh - 1cm / 2);
	top: calc(80dvh - 1cm / 2);
	font-size: 0.6cm;
}
#sai_id_button_close {
	position: absolute;
	width: 50vw;
	width: 50dvw;
	height: 1cm;
	left: calc(50vw - 50vw / 2);
	left: calc(50dvw - 50dvw / 2);
	top: calc(90vh - 1cm / 2);
	top: calc(90dvh - 1cm / 2);
	font-size: 0.6cm;
}
@media screen and (max-height: 360px) {
	#sai_id_button_lock_on {
		width: 20vw;
		width: 20dvw;
		height: 1cm;
		left: calc(30vw - 20vw / 2);
		left: calc(30dvw - 20dvw / 2);
		top: calc(80vh - 1cm / 2);
		top: calc(80dvh - 1cm / 2);
	}
	#sai_id_button_close {
		width: 20vw;
		width: 20dvw;
		height: 1cm;
		left: calc(70vw - 20vw / 2);
		left: calc(70dvw - 20dvw / 2);
		top: calc(80vh - 1cm / 2);
		top: calc(80dvh - 1cm / 2);
	}
}
.sai_class_face_button {
	background: rgba(255, 255, 255, 60%);
}
.sai_class_face_button:disabled {
	color: rgb(191, 191, 191);
}
/* 【顔認識のページ】ここまで */
