body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}
#saimin_canvas {
	z-index: 1;
	background-color: #222;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
label {
	cursor: pointer;
	font-size: 0.5cm;
}
input[type='checkbox'] {
	cursor: pointer;
	font-size: 0.5cm;
	padding: 0;
}
#floating_text1 {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	background-color: black;
	z-index: 3;
	max-width: 80%;
	word-break: break-all;
	padding: 4px;
	border: 1px solid white;
}
#floating_text2 {
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	background-color: black;
	z-index: 3;
	max-width: 80%;
	word-break: break-all;
	padding: 4px;
	border: 1px solid white;
}
.font_size_small {
	font-size: 0.4cm;
}
.font_size_normal {
	font-size: 0.6cm;
}
.font_size_large {
	font-size: 1.0cm;
}
.font_size_huge {
	font-size: 2.0cm;
}
#type_select_button {
	position: absolute;
	left: calc(100% / 5 * 0);
	bottom: 0;
	width: calc(100% / 5 - 5px);
	font-family: san-serif;
}
#microphone_label {
	position: absolute;
	left: calc(100% / 5 * 1);
	bottom: 0;
	width: calc(100% / 5 - 5px);
}
#sound_button {
	position: absolute;
	left: calc(100% / 5 * 2);
	bottom: 0;
	width: calc(100% / 5 - 5px);
}
.releasing {
	background-color: red !important;
	text-align: center;
}
#text_button {
	position: absolute;
	left: calc(100% / 5 * 3);
	bottom: 0;
	width: calc(100% / 5 - 5px);
}
#speech_label {
	position: absolute;
	left: calc(100% / 5 * 4);
	bottom: 0;
	width: calc(100% / 5 - 5px);
}
.round-button {
	width: 1.3cm;
	height: 1.3cm;
	background-color: rgba(255, 181, 230, 0%);
	border: 0;
	border-radius: 100%;
	padding: 0;
	margin: 0;
}
.round-button img {
	width: 1.3cm;
	height: 1.3cm;
}
#config_button {
	position: absolute;
	left: 3px;
	top: 3px;
}
#about_button {
	position: absolute;
	right: 3px;
	top: 3px;
}
.invisible {
	display: none;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
textarea {
	font-size: 0.5cm;
	font-family: monospace, ui-monospace;
}
.navigate-button {
	outline: 1px solid white;
	border-radius: 4px;
	background-color: rgba(255, 181, 230, 75%);
	color: black;
	padding: 4px;
	height: 1.2cm;
	line-height: 1.2cm;
	z-index: 2;
	font-size: 0.5cm;
	font-weight: bold;
	padding: 0;
	text-align: center;
}
button.navigate-button {
	vertical-align: top;
	line-height: 0.5cm;
}
.navigate-button img {
	vertical-align: middle;
}
.navigate-button:hover {
	background-color: rgba(255, 210, 230, 85%);
}
.checked {
	background-color: rgba(204, 101, 198, 90%);
}
.ui-dialog-content div {
	margin-top: 4px;
	margin-bottom: 4px;
}
.ui-dialog-content div select {
	padding-top: 5px;
	padding-bottom: 5px;
}
.version-text {
	margin: 0;
	padding: 0;
}
.ui-widget {
	font-size: 0.9em;
}
#notice_text {
	width: 90%;
	font-size: 9pt;
}
