/* 『催眠くらくら』CSSファイル。*/
select { /* コンボボックス */
	background-color: #010;
	color: #0f0;
}
button { /* 通常のボタン */
	font-weight: bold;
	background-color: #3f6;
	color: #030;
	border-radius: 8px;
}
.sai_class_page { /* ページ */
	background-color: #030;
	color: #0f0;
}
.sai_class_page h1 { /* ページの見出し */
	background-color: #090;
	color: black;
}
.sai_class_canvas { /* キャンバス */
	background-color: #222;
}
.sai_class_floating_text { /* 浮遊するテキスト */
	color: white;
	background-color: black;
	border: 1px solid white;
}
.sai_class_releasing { /* 催眠解除中の強調表示 */
	background-color: red !important;
}
.sai_class_rounded_button { /* 丸いボタン */
	background-color: rgba(0, 255, 0, 75%);
}
.sai_class_navi_button { /* ナビゲーションボタン */
	background-color: rgba(0, 230, 0, 50%);
	color: black;
}
.sai_class_checked { /* ナビゲーションボタンをチェックした状態 */
	background-color: rgba(0, 198, 0, 90%);
}
#sai_id_message_list div { /* メッセージリスト */
	border: solid 1px black;
	background-image: linear-gradient(to bottom, #131, #060);
}
#sai_id_message_list div:hover { /* メッセージリスト */
	background-color: #0c0;
}
#sai_id_text_notice { /* 同意契約書 */
	background-color: #cfc;
	color: black;
}
/* https://www.tutorialstonight.com/css-toggle-switch-with-text */
/* 【トグルスイッチ】ここから */
.sai_class_toggle_button {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.sai_class_toggle_button .sai_class_slider {
    background-color: #333;
}
.sai_class_toggle_button .sai_class_slider::before {
    background-color: #cfc;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.sai_class_toggle_button input:checked + .sai_class_slider {
    background-color: #0c0;
    color: black;
}
.sai_class_toggle_button .sai_class_toggle_label::after {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.sai_class_toggle_button .sai_class_toggle_label::before {
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 255, 0, 0.4);
}
/* 【トグルスイッチ】ここまで */
/* 【顔認識のページ】ここから */
#sai_id_canvas_face { /* 顔認識のページのキャンバス */
	background-color: #222;
}
.sai_class_face_button { /* 顔認識のアクションボタン */
	color: black;
	background: rgba(255, 255, 255, 75%);
}
.sai_class_face_button:disabled { /* 顔認識の無効のアクションボタン */
	color: rgb(191, 191, 191);
}
/* 【顔認識のページ】ここまで */
