/* 『催眠くらくら』CSSファイル。*/
select { /* コンボボックス */
	background-color: #303;
	color: #f99;
}
button { /* 通常のボタン */
	font-weight: bold;
	background-color: #f66;
	color: #300;
	border-radius: 10%;
}
.sai_class_page { /* ページ */
	background-color: #c31;
	color: #fff;
}
.sai_class_page h1 { /* ページの見出し */
	background-color: #f00;
	color: black;
}
.sai_class_canvas { /* キャンバス */
	background-color: #222;
}
.sai_class_floating_text { /* 浮遊するテキスト */
	color: white;
	background-color: black;
	border: 1px solid white;
}
.sai_class_releasing { /* 催眠解除中の強調表示 */
	background-color: red !important;
}
@media screen and (orientation: landscape) { /* 端末が横向きの場合 */
	#sai_id_button_start_hypnosis {
		width: 20vw;
		width: 20dvw;
		height: 20vh;
		height: 20dvh;
		left: calc(30vw - 20vw / 2);
		left: calc(30dvw - 20dvw / 2);
		top: calc(60vh - 20vh / 2);
		top: calc(60dvh - 20dvh / 2);
	}
	#sai_id_button_release_hypnosis {
		width: 20vw;
		width: 20dvw;
		height: 20vh;
		height: 20dvh;
		left: calc(70vw - 20vw / 2);
		left: calc(70dvw - 20dvw / 2);
		top: calc(60vh - 20vh / 2);
		top: calc(60dvh - 20dvh / 2);
	}
}
.sai_class_navi_button { /* ナビゲーションボタン */
	background-color: rgba(255, 90, 90, 50%);
	color: black;
}
.sai_class_checked { /* ナビゲーションボタンをチェックした状態 */
	background-color: rgba(255, 120, 198, 90%);
}
#sai_id_message_list div { /* メッセージリスト */
	border: solid 1px black;
	background-image: linear-gradient(to bottom, #f61, #c13);
}
#sai_id_message_list div:hover { /* メッセージリスト */
	background-color: #c00;
}
#sai_id_text_notice { /* 同意契約書 */
	background-color: #fc9;
	color: black;
}
/* https://www.tutorialstonight.com/css-toggle-switch-with-text */
/* 【トグルスイッチ】ここから */
.sai_class_toggle_button {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.sai_class_toggle_button .sai_class_slider {
    background-color: #333;
}
.sai_class_toggle_button .sai_class_slider::before {
    background-color: #f66;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.sai_class_toggle_button input:checked + .sai_class_slider {
    background-color: #f06;
    color: black;
}
.sai_class_toggle_button .sai_class_toggle_label::after {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.sai_class_toggle_button .sai_class_toggle_label::before {
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 255, 0, 0.4);
}
/* 【トグルスイッチ】ここまで */
/* 【顔認識のページ】ここから */
#sai_id_canvas_face { /* 顔認識のページのキャンバス */
	background-color: #222;
}
.sai_class_face_button { /* 顔認識のアクションボタン */
	background: rgba(255, 255, 255, 50%);
}
.sai_class_face_button:disabled { /* 顔認識の無効のアクションボタン */
	color: rgb(191, 191, 191);
}
/* 【顔認識のページ】ここまで */
